~*
scanner.sublime-workspace
*.db*
/modules/copart/dist/
/calc/nbproject/private/
/calc/build/
/crawler/nbproject/private/
/modules/crawler/nbproject/private/
/modules/crawler/build/
/modules/crawler/dist/
/modules/crawler/crawler
/ua/com/advertikon/calculator/Calculator/nbproject/private/
/calculator/nbproject/private/
/calculator/build/
/calculator/src/nbproject/private/
/calculator/src/dist/
/calculator/src/build/
/calc/Calc/nbproject/private/
/calc/Calc/build/
/calc/Calc/dist/